__pycache__/
*~
.DS_Store
.cache/
.coverage
.coverage.*
.eggs/
.env
.idea/
.mypy_cache/
.pytest_cache/
.tox*
.vscode/
*.egg
*.egg-info/
*.ipynb_checkpoints
*.py[cdo]
*.so
build/
dist/
tests/reports/
venv/
