# Base requirements:
#
colorama==0.4.3
typing-extensions==3.7.4.2

# Testing requirements:
#
flake8==3.8.3
mypy==0.780
numpy==1.18.5
pytest==5.4.3
pytest-asyncio==0.12.0
pytest-cov==2.10.0
pytest-flake8==1.0.6
pytest-mypy==0.6.2
# pytest-watch==4.2.0
-e git+https://github.com/wouter-vdb/pytest-watch@4.3.0-fork#egg=pytest-watch

# Doc-building requirements:
#
sphinx==3.1.1
sphinx-autobuild==0.7.1
sphinx-material==0.0.30
