# Base requirements:
#
colorama>=0.4.3
typing-extensions>=3.7.4.2
-e git+https://github.com/ominatechnologies/frozendict.git@1.0.1#egg=frozendict

# Testing requirements:
#
flake8>=3.7.9
mypy>=0.770
numpy>=1.18.2
pytest>=5.4.1
pytest-asyncio>=0.10.0
pytest-cov>=2.8.1
pytest-flake8>=1.0.4
pytest-mypy>=0.6.0
# pytest-watch>=4.2.0
-e git+https://github.com/wouter-vdb/pytest-watch#egg=pytest-watch

# Doc-building requirements:
#
sphinx>=2.4.4
sphinx-autobuild>=0.7.1
sphinx-autodoc-typehints>=1.10.3
sphinx-material>=0.0.23
