# Base requirements:
#
frozendict>=1.2
typing-extensions>=3.7.4.1

# Testing requirements:
#
flake8>=3.7.9
mypy>=0.761
pytest>=5.3.2
pytest-asyncio>=0.10.0
pytest-cov>=2.8.1
pytest-flake8>=1.0.4
pytest-mypy>=0.4.2
pytest-watch>=4.2.0

# Doc-building requirements:
#
sphinx>=2.3.1
sphinx-autobuild>=0.7.1
sphinx-autodoc-typehints>=1.10.3
sphinx-material>=0.0.20
